/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Custom CSS */

body {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
}

main > div {
  background-image: url("../images/drawers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: 100%;
  border-radius: 25px 0px 0 25px;
}

section {
  padding: 50px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

section > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

section > div > div {
  display: flex;
}

main > section > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

main > section > div > div > img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

main > section > div > div > div {
  margin: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

main > section > div > div > div > h2,
main > section > div > div > div > p {
  margin: 0;
}

button#share {
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: hsl(210, 46%, 95%);
  position: relative;
}

#share > img {
  height: 20px;
  width: 20px;
}

.tooltip {
  width: 225px;
  height: 50px;
  position: absolute;
  top: -70px;
  left: -130px;
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  box-shadow: 1px 1px 5px hsl(217, 19%, 35%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid hsl(217, 19%, 35%);
  position: absolute;
  top: 50px;
  left: 135px;
}

.tooltip > span {
  color: hsl(212, 23%, 69%);
  font-size: 0.8rem;
  text-transform: uppercase;
}

.fa-brands {
  color: #ffffff;
  font-size: 25px;
}

#share:hover {
  background-color: hsl(217, 19%, 35%);
}

@media screen and (max-width: 768px) {
  body {
    height: unset;
    margin: 25px 0 0 0;
  }
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px -5px #000;
    width: 90%;
    border-radius: 25px 25px 0 0;
  }
  main > div {
    width: 100%;
    height: 500px;
    border-radius: 25px 25px 0 0;
    background-position: center;
  }
  section {
    padding: 50px;
    height: 500px;
    position: relative;
  }
  .tooltip {
    width: 100%;
    height: 28%;
    top: 435px;
    left: 0px;
    z-index: -1;
  }
  button#share {
    position: static;
    background-color: #fff;
  }
  main > section > div > div {
    z-index: -1;
  }
  #share:hover {
    background-color: #9EAFC2;
  }
}
